{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

 {# custom sidebar footer #}
{% block side_bar_after_nav %}
    <p class="text-left small" style="padding:50px 0 0 20px;color:#EEE;">{{ admin_tag_version }}<br><i class="fa fa-code"></i> Desenvolupat per <a href="http://www.flux.cat" target="_blank">Flux</a><br><i class="fa fa-copyright"></i> {{ 'now' | date('Y') }} <a href="http://www.lopati.cat/" target="_blank">Lo Pati</a></p>
{% endblock %}

{# custom top menu #}
{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav navbar-right">
            {#<li><a#}{# href="{{ path('sonata_user_profile_show') }}"#}{#><img id="profile_image" src="{% if app.user.imageName %}{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('32x32') }}{% else %}http://placehold.it/32x32?text=?{% endif %}" alt="32x32 profile photo"/> {{ app.user.fullname }}</a></li>#}
            {#<li><a href="{{ path('sonata_user_admin_security_logout') }}"><i class="fa fa-power-off text-success"></i></a></li>#}
        </ul>
    </div>
{% endblock %}

{# override javascript includes #}
{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#{% if google_analytics_enabled %}#}
        {#<script type="text/javascript">#}
            {#(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
                        {#(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
                    {#m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
            {#})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');#}
            {#ga('create', '{{ google_analytics_account }}', 'auto'); ga('send', 'pageview');#}
        {#</script>#}
    {#{% endif %}#}
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>#}
    {#<script src="{{ asset('js/fos_js_routes.js') }}"></script>#}
{#{% endblock %}#}
